<div class="row mt-4">
  <div class="col">
    <%= form_with(model: voting) do |form| %>
      <% if voting.errors.any? %>
        <div style="color: red">
          <h2><%= pluralize(voting.errors.count, "error") %> prohibited this voting from being saved:</h2>

          <ul>
            <% voting.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="mb-4">
        <%= form.label :title, "投票タイトル", class: "form-label" %>
        <%= form.text_field :title, class: "form-control" %>
      </div>

      <div class="mb-4">
        <%= form.label :description, "説明", class: "form-label" %>
        <%= form.text_area :description, class: "form-control" %>
      </div>

      <div class="mb-4">
        <%= form.label :choices, "選択肢(改行で追加)", class: "form-label" %><a href="#help-choices" style="color:black"><i class="bi-question-circle-fill"></i></a>
        <%= form.text_area :choices, class: "form-control", style: "height: 150px" %>
      </div>

      <div class="mb-4">
        投票期間(時刻まで入力必須)
        <div class="row align-items-center">
          <%= form.label :start, "開始", class: "form-label col-md-auto" %>
          <%= form.datetime_field :start, class: "form-control col" %>
        </div>
        <div class="row align-items-center">
          <%= form.label :deadline, "終了", class: "form-label col-md-auto" %>
          <%= form.datetime_field :deadline, class: "form-control col" %>
        </div>
      </div>

      <div class="mb-4">
        <%= form.label :mode, "モード", class: "form-label" %><a href="#help-modes" style="color:black"><i class="bi-question-circle-fill"></i></a>
        <%= form.select :mode, Voting.modes, {}, { class: "form-select" } %>
      </div>

      <!--
      <div class="mb-4">
        <%= form.label :config, class: "form-label" %>
        <%= form.text_area :config, class: "form-control" %>
      </div>
      -->

      <div>
        <%= form.submit "保存する", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
  <div class="col">
    <div class="card card-body mb-4" id="help-choices">
      <h5 class="card-title"><i class="bi-question-circle-fill" aria-hidden="true"></i>選択肢について</h5>
      <ul>
        <li>参加者は投票を取り消すことで「無投票」という選択ができます。</li>
        <li>「無投票」とは別に、「棄権」「白票」のいずれかまたは両方を用意するのが一般的です。</li>
        <li>選択肢の重複は自動的に削除されます。</li>
      </ul>
    </div>
    <div class="card card-body" id="help-modes">
      <h5 class="card-title"><i class="bi-question-circle-fill" aria-hidden="true"></i>モードについて</h5>
      <dl>
        <dt>「デフォルト」モード</dt>
        <dd>参加者に投票用リンクをメール送信できます。リンクは投票期間中ずっと有効です。</dd>
        <dt>「セキュリティ」モード</dt>
        <dd>参加者に招待リンクをメール送信できます。投票用リンクは参加者が招待リンクから自分で発行します。招待リンクは投票期間中ずっと有効ですが、投票リンクの有効期限は発行から3分で、セキュリティがより強固になります。</dd>
      </ul>
    </div>
  </div>
</div>