<div class="row mt-4">
  <div class="col">
    <%= form_with(model: voting) do |form| %>
      <% if voting.errors.any? %>
        <div class="alert alert-danger">
          保存できません.
        </div>
        <div style="color: red">
          <ul>
            <% voting.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="mb-4">
        <%= form.label :title, class: "form-label" %>
        <%= form.text_field :title, class: "form-control" %>
      </div>

      <div class="mb-4">
        <%= form.label :description, class: "form-label" %>
        <%= form.text_area :description, class: "form-control" %>
      </div>

      <div class="mb-4">
        <%= form.label :choices, class: "form-label" %><a href="#help-choices" style="color:black"><i class="bi-question-circle-fill"></i></a>
        <%= form.text_area :choices, { disabled: voting.disable_choices_change?, class: "form-control", style: "height: 150px" } %>
        <div class="form-text">改行で追加</div>
      </div>

      <div class="mb-4">
        <%= form.label :start, class: "form-label col-md-auto" %>
        <%= form.datetime_field :start, class: "form-control col" %>
        <div class="form-text">時刻まで入力必須</div>
      </div>

      <div class="mb-4">
        <%= form.label :deadline, class: "form-label col-md-auto" %>
        <%= form.datetime_field :deadline, class: "form-control col" %>
        <div class="form-text">時刻まで入力必須</div>
      </div>

      <div class="mb-4">
        <%= form.label :mode, class: "form-label" %><a href="#help-modes" style="color:black"><i class="bi-question-circle-fill"></i></a>
        <%= form.select :mode, Voting.modes, {}, { disabled: voting.disable_mode_select?, class: "form-select" } %>
      </div>

      <!--
        <div class="mb-4">
          <%= form.label :config, class: "form-label" %>
          <%= form.text_area :config, class: "form-control" %>
        </div>
      -->

      <div class="row">
        <div class="col-md-auto">
          <%= form.submit "保存する", data: { turbo_confirm: confirm_message_on_change(voting) }, class: "btn btn-primary" %>
        </div>
        <% if show_back %>
          <div class="col"><%= link_to "変更を保存せず戻る", voting_path(@voting, v:@voter, p:@password), class: "btn btn-danger" %></div>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="col">
    <div class="card card-body mb-4" id="help-choices">
      <h5 class="card-title"><i class="bi-question-circle-fill" aria-hidden="true"></i>選択肢について</h5>
      <span class="text-danger mb-2">投票開始後は選択肢を変更できません</span>
      <ul>
        <li>選択肢の重複は自動的に削除されます。</li>
        <li>参加者は投票しない、あるいは投票を取り消すことで「無投票」という選択ができます。</li>
        <li>「無投票」とは別に、「棄権」「白票」のいずれかまたは両方を用意するのが一般的です。</li>
      </ul>
    </div>
    <div class="card card-body" id="help-modes">
      <h5 class="card-title"><i class="bi-question-circle-fill" aria-hidden="true"></i>モードについて</h5>
      <span class="text-danger mb-2">リンク送信済みの参加者がいる場合、モードは変更できません</span>
      <dl>
        <dt>「デフォルト」モード</dt>
        <dd>
          参加者に<strong>投票用リンク</strong>をメール送信できます。</br>
          投票用リンクは投票期間中ずっと有効です。
        </dd>
        <dt>「セキュリティ」モード</dt>
        <dd>
          参加者に<strong>招待リンク</strong>をメール送信できます。</br>
          投票用リンクは参加者が招待リンクから自分で発行します。</br>
          招待リンクは投票期間中ずっと有効ですが、投票リンクの有効期限は発行から3分で、セキュリティがより強固になります。
        </dd>
      </ul>
    </div>
  </div>
</div>