<div id="<%= dom_id voting %>">
  <p>
    <strong>Title:</strong>
    <%= voting.title %>
  </p>

  <p>
    <strong>User:</strong>
    <%= voting.user_id %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= voting.description %>
  </p>

  <p>
    <strong>Choices:</strong>
    <%= voting.choices %>
  </p>

  <p>
    <strong>Deadline:</strong>
    <%= voting.deadline %>
  </p>

  <p>
    <strong>Mode:</strong>
    <%= voting.mode %>
  </p>

  <p>
    <strong>Config:</strong>
    <%= voting.config %>
  </p>

</div>
