<h2> <%= @title %> </h2>

<div class="row">
  <div class="col-md-auto">
    <dl class="card card-body my-2">
      <dt>作成者</dt>
        <dd><%= @owner_name %></dd>
      <dt>投票開始</dt>
        <dd><%= l @start %></dd>
      <dt>投票終了</dt>
        <dd><%= l @deadline %></dd>
      <dt>説明</dt>
        <dd><%= @description %></dd>
      <dt>選択肢</dt>
        <dd>
          <ul>
            <% @choices.each do |choice| %>
              <li><%= choice %></li>
            <% end %>
          </ul>
        </dd>
      <dt>参加人数</dt>
        <dd><%= @num_voters %>人</dd>
    </dl>
  </div>

  <div class="col">
    <% if current_user == @voting.user %>
      <div class="card card-body my-2">
        <h5 class="card-title">管理者画面</h5>
        <div class="row mb-4 align-items-center">
          <div class="col-md-auto">
            <%= link_to voters_voting_path(@voting, v:@voter, p: @password), class: "btn btn-lg btn-primary position-relative" do %>
              <i class="bi-people" aria-hidden="true"></i>参加者管理
              <% if @num_not_delivered > 0 %>
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                  <%= @num_not_delivered %>
                  <span class="visually-hidden">まだ<%= name_of_ballot(@voting) %>を送信していない参加者が<%= @num_not_delivered %>人います</span>
                </span>
              <% end %>
            <% end %>
          </div>
          <div class="col">
            参加者の追加・削除、<%= name_of_ballot(@voting) %>のメール配布
          </div>
        </div>
        <div class="row">
          <div class="col">
            <%= link_to edit_voting_path(@voting, v:@voter, p: @password) do %><i class="bi-gear" aria-hidden="true"></i>設定<% end %>
          </div>
          <div class="col">
            <%= link_to @voting, data: { turbo_method: :delete, turbo_confirm: "この操作は取り消せません。本当に削除しますか？" } do %><i class="bi-trash" aria-hidden="true"></i>この投票を削除する<% end %>
          </div>
        </div>
      </div>
    <% end %>
    
    <% if @ballot %>
      <% if @ballot.delete_requested %>
        <div class="card card-body">
          投票権の取り消しを申請中です。
        </div>
      <% else %>
        <% if @not_for_me %>
          <div class="card card-body my-2">
            <h5 class="card-title">投票権の取り消し</h5>
            左記の情報を確認し、本当にご自身が参加者でない場合、お手数ですが下のボタンから投票権の取り消しを申請してください。
            <%= button_to "取り消し申請", ballot_url(@ballot, v:@voter, p:@password, delete_requested: true), method: :put, class: "btn btn-danger" %>
          </div>
        <% else %>
          <div class="card card-body my-2">
            <h5 class="card-title"><%= @ballot.voter %>さん</h5>
            <% case @status %>
            <% when "not opened" %>
              投票は始まっていません.
            <% when "opened" %>
              <div class="row justify-content-end mb-2 align-items-center">
                <% if @choice %>
                  <div class="col">現在の投票先: <%= @choice %></div>
                  <div class="col-md-auto"><%= button_to "投票を取り消す", ballot_url(@ballot, v:@voter, p:@password), method: :put , class: "btn btn-sm btn-danger" %></div>
                <% else %>
                  <div class="col">まだ投票していません</div>
                <% end %>
              </div>
              <% if @expired %>
                <% if @exp %>
                  <div class="row justify-content-end mt-2 align-items-center">
                    <div class="col">パスワードの有効期限が切れています.</div>
                    <div class="col-md-auto"><%= button_to "再発行はこちら", redeliver_ballot_path(@ballot, v:@voter, p:@password), class: "btn btn-primary" %></div>
                  </div>
                <% else %>
                  <div class="row mt-2">
                    <div class="col"><%= button_to "パスワードを発行", deliver_ballot_path(@ballot, v:@voter, p:@password), class: "btn btn-primary" %></div>
                  </div>
                <% end %>
              <% else %>
                <%= form_with url: ballot_url(@ballot, v:@voter, p:@password), local: true, method: :put do |form|%>
                  <div class="row justify-content-end mt-2 align-items-center">
                    <div class="col"><%= form.select :choice, @choices, { selected: @choice }, { class: "form-select" }%></div>
                    <div class="col-md-auto"><%= form.submit "投票する", class: "btn btn-primary" %></div>
                  </div>
                <% end %>
              <% end %>
            <% when "closed" %>
              <span class="card-item">投票は締め切られました.</span>
            <% end %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

<div class="card card-body my-2">
  <h3 class="card-title">投票結果</h3>
  <% case @status %>
  <% when "not opened" %>
    投票は始まっていません.
  <% when "opened" %>
    投票が進行中です.
  <% when "closed" %>
    <% if @num_not_delivered > 0 %>
      <strong class="text-danger"><%= name_of_ballot(@voting) %>が送信されなかった参加者が<%= @num_not_delivered %>人います.</strong>
    <% end %>
    <table class="table table-bordered">
      <% @count.each do |choice, num| %>
        <tr>
          <th><%= format_choice(choice) %></th><td><%= num %></td>
        </tr>
      <% end %>
    </table>
  <% end %>
</div>