<p style="color: green"><%= notice %></p>

<%= render @voting %>

<div>
  <%= link_to "Edit this voting", edit_voting_path(@voting) %>

  <%= button_to "Destroy this voting", @voting, method: :delete %>
</div>

<%= link_to "Back to mypage", mypage_path %>