<p style="color: green"><%= notice %></p>

<%= render @voting %>

<div>
<h2> Result </h2>
  <%= @voting.count_votes %>
</div>

<div>
  <%= link_to "Edit this voting", edit_voting_path(@voting) %>

  <%= button_to "Destroy this voting", @voting, method: :delete %>
</div>

<div id="voting.ballots">
  <table border=1>
    <% @voting.ballots.each do |ballot| %>
      <tr>
        <th><%= ballot.voter %></th>
        <td><%= link_to "Delete this ballot", ballot, data: { turbo_method: :delete } %></td>
      </tr>
    <% end %>
  </table>

  <%= form_with url: issue_voting_path(@voting) do |form| %>
    <%= form.email_field :email %>
    <%= form.submit "Issue ballot" %>
  <% end %>
  
  <%= form_with url: issue_voting_path(@voting), multipart: true do |form| %>
    <%= form.file_field :file %>
    <%= form.submit "Issue ballots from CSV" %>
  <% end %>
</div>

<%= link_to "Back to mypage", mypage_path %>