<% if notice %>
  <div class="alert alert-primary" role="alert"><%= notice %></div>
<% end %>

<h2> <%= @voting.title %> </h2>

<% if current_user == @voting.user %>
  <div>
    <%= link_to edit_voting_path(@voting) do %><i class="bi-pencil-square" aria-label="この投票を編集する"></i><% end %>
    <%= link_to @voting, data: { turbo_method: :delete } do %><i class="bi-trash" aria-label="この投票を削除する"></i><% end %>
    <%= link_to "投票者管理", voters_voting_path(@voting) %>
  </div>
<% end %>

<section id="voting_info">
  <dl>
    <dt>作成者</dt>
      <dd><%= @voting.user.name %></dd>
    <dt>締切</dt>
      <dd><%= l @voting.deadline %></dd>
    <dt>説明</dt>
      <dd><%= @voting.description %></dd>
    <dt>選択肢</dt>
      <dd>
        <ul>
          <% @voting.get_choices.each do |choice| %>
            <li><%= choice %></li>
          <% end %>
        </ul>
      </dd>
    <dt>参加人数</dt>
      <dd><%= @voting.ballots.count %>人</dd>
  </dl>
</section>

<div>
  <h3>結果</h3>
  <% if @result %>
    <table class="table">
      <% @result.each do |choice, num| %>
        <tr>
          <th><%= format_choice(choice) %></th><td><%= num %></td>
        </tr>
      <% end %>
    </table>
  <% else %>
    投票が進行中です
  <% end %>
</div>

<% if @ballot %>
  <%= @ballot.voter %>さん: 投票権があります
  <% if @voting.closed? %>
    投票は締め切られました.
  <% else %>
    <% if @ballot.choice %>
      現在の投票先: <%= @ballot.choice %>
    <% else %>
      まだ投票していません
    <% end %>
    <% if @ballot.expired? %>
      <% if @ballot.exp %>
        パスワードの有効期限が切れています.
        <%= button_to "再発行はこちら", deliver_ballot_path(@ballot, v:@voter, p:@password) %>
      <% else %>
        <%= button_to "パスワードを発行", deliver_ballot_path(@ballot, v:@voter, p:@password) %>
      <% end %>
    <% else %>
      <%= form_with url: @ballot, method: :put do |form|%>
        <%= form.select :choice, @voting.get_choices %>
        <%= form.submit "Vote" %>
      <% end %>
    <% end %>
  <% end %>
<% end %>