<p style="color: green"><%= notice %></p>

<%= render @voting %>

<div>
<h3> Result </h3>
  <% if @result %>
    <table border=1>
      <% @result.each do |choice, num| %>
        <tr>
          <th><%= format_choice(choice) %></th><td><%= num %></td>
        </tr>
      <% end %>
    </table>
  <% else %>
    *Currently hidden*
  <% end %>
</div>

<% if @ballot %>
  <% if @ballot.choice %>
    Your current choice: <%= @ballot.choice %>
  <% end %>
  <% if @ballot.expired? %>
    <% if @ballot.exp %>
      Your ballot is expired.
      <%= button_to "Deliver again", deliver_ballot_path(@ballot) %>
    <% else %>
      <%= button_to "Get password to vote", deliver_ballot_path(@ballot) %>
    <% end %>
  <% else %>
    <%= form_with url: @ballot, method: :put do |form|%>
      <%= form.select :choice, @voting.get_choices %>
      <%= form.submit "Vote" %>
    <% end %>
  <% end %>
<% end %>

<% if current_user == @voting.user %>
  <div id="console">
    <div>
      <%= link_to "Edit this voting", edit_voting_path(@voting) %>

      <%= button_to "Destroy this voting", @voting, method: :delete %>
    </div>

    <div id="voting.ballots">
      <table border=1>
        <% @voting.ballots.each do |ballot| %>
          <tr>
            <th><%= ballot.voter %></th>
            <td><% if ballot.is_delivered %>Delivered<% else %><%= button_to "Deliver this ballot", deliver_ballot_path(ballot) %><% end %></td>
            <td><%= link_to "Delete this ballot", ballot, data: { turbo_method: :delete } %></td>
          </tr>
        <% end %>
      </table>

      <%= form_with url: issue_voting_path(@voting) do |form| %>
        <%= form.email_field :email %>
        <%= form.submit "Issue ballot" %>
      <% end %>
      
      <%= form_with url: issue_voting_path(@voting), multipart: true do |form| %>
        <%= form.file_field :file %>
        <%= form.submit "Issue ballots from CSV" %>
      <% end %>

      <%= form_with url: deliver_all_voting_path(@voting) do |form| %>
        <%= form.date_field :exp, :include_blank => true %>
        <%= form.submit "Deliver all undelivered ballots" %>
      <% end %>
    </div>

    <%= link_to "Back to mypage", mypage_path %>
  </div>
<% end %>