<h2><%= link_to @voting.title, voting_path(@voting, v:@voter, p:@password) %>/参加者管理</h2>

<div class="row">
  <div class="col-md-auto">

    <div class="card card-body my-2 container">
      <h5 class="card-title">1. 参加者を追加</h5>
      <%= form_with url: issue_voting_path(@voting, v:@voter, p:@password), multipart: true, class: "" do |form| %>
        <div class="mb-4">
            <%= form.label :email, "個別に追加", class: "form-label" %>
            <%= form.email_field :email, placeholder: "someone@example.com", class:"form-control" %>
        </div>

        <div class="mb-4">
          <%= form.label :file, "一括で追加(CSV)", class: "form-label" %>
          <%= form.file_field :file, class:"form-control"%>
        </div>

        <div>
          <%= form.submit "参加者を追加", class: "btn btn-primary btn-sm" %>
        </div>
      <% end %>
    </div>

    <div class="card card-body my-2">
      <h5 class="card-title">2. <%= name_of_ballot(@voting) %>を送信</h5>
      <%= button_to "未送信の#{name_of_ballot(@voting)}を一括で送信", deliver_all_voting_path(@voting, v:@voter, p:@password), class: "btn btn-primary btn-sm" %>
    </div>

    <div class="card card-body my-2">
      <h5 class="card-title">3. 参加者一覧をダウンロード(オプション)</h5>
      <%= button_to "CSVダウンロード", voters_voting_path(@voting, format: :csv), method: :get, class: "btn btn-primary btn-sm" %>
    </div>
  
  </div>

  <div class="col">

    <% if @num_voters > 0 %>
      <div class="card card-body mb-4">
        <ul>
          <% if @num_not_delivered > 0 %>
            <li>まだリンクを送信していない参加者が<%= @num_not_delivered %>人います。</li>
          <% else %>
            <li>参加者全員にリンクを送信済みです。</li>
          <% end %>
          <% if @num_delete_requested > 0 %>
            <li>投票権の削除申請が<%= @num_delete_requested %>件届いています。<i class="bi-exclamation-triangle-fill text-danger"></i>マークの付いている参加者を確認してください。</li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div style="overflow: scroll">
      <table class="table" style="white-space: nowrap">
        <thead>
          <tr>
            <th></th>
            <th>参加者</th>
            <th>送信状況</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @ballots.each do |ballot| %>
            <tr>
              <td><% if ballot.delete_requested %><i class="bi-exclamation-triangle-fill text-danger"></i><% end %></td>
              <td><%= ballot.voter %></td>
              <td><% if ballot.delivered %><i class="bi-check-circle-fill text-success" aria-hidden="true"></i>送信済み<% else %>未送信<% end %></td>
              <td><%= link_to deliver_from_owner_ballot_path(ballot), data: { turbo_method: :post } do%><i class="bi-send" aria-hidden="true"></i><% if ballot.delivered %>再<% end %>送信<% end %></td>
              <td>
                <% if ballot.delivered %>
                  <%= link_to ballot, data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？\nこの参加者に投票権が削除されたことが通達されます。" } do %><i class="bi-trash" aria-hidden="true"></i>削除<% end %>
                <% else %>
                  <%= link_to ballot, data: { turbo_method: :delete } do %><i class="bi-trash" aria-hidden="true"></i>削除<% end %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    
  </div>
</div>