<div id="<%= dom_id ballot %>">
  <p>
    <strong>Voting:</strong>
    <%= ballot.voting_id %>
  </p>

  <p>
    <strong>Voter:</strong>
    <%= ballot.voter %>
  </p>

  <p>
    <strong>Password digest:</strong>
    <%= ballot.password_digest %>
  </p>

  <p>
    <strong>Choice:</strong>
    <%= ballot.choice %>
  </p>

  <p>
    <strong>Exp:</strong>
    <%= ballot.exp %>
  </p>

</div>
