<%= form_with(model: ballot) do |form| %>
  <% if ballot.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(ballot.errors.count, "error") %> prohibited this ballot from being saved:</h2>

      <ul>
        <% ballot.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :voting_id, style: "display: block" %>
    <%= form.text_field :voting_id %>
  </div>

  <div>
    <%= form.label :voter, style: "display: block" %>
    <%= form.text_field :voter %>
  </div>

  <div>
    <%= form.label :password_digest, style: "display: block" %>
    <%= form.text_field :password_digest %>
  </div>

  <div>
    <%= form.label :choice, style: "display: block" %>
    <%= form.text_field :choice %>
  </div>

  <div>
    <%= form.label :exp, style: "display: block" %>
    <%= form.datetime_field :exp %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
