<p style="color: green"><%= notice %></p>

<h1><%= current_user.name %>'s mypage</h1>

<div id="mypage.votings">
<ul>
  <% current_user.votings.each do |voting|%>
    <li><%= link_to voting.title, voting_path(voting) %></li>
  <% end %>
</ul>

<%= link_to "Create new voting", new_voting_path %>
</div>

<%= link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete } %>