<p style="color: green"><%= notice %></p>

<h2><%= current_user.name %>さんの作成した投票</h2>

<div id="mypage.votings">
  <table class="table">
    <thead>
      <th></th><th>説明</th><th>締切</th>
    </thead>
    <tbody>
      <% current_user.votings.order(deadline: "DESC").each do |voting|%>
        <tr>
          <th><%= link_to voting.title, voting_path(voting) %></th>
          <td><%= voting.description[0,30] %></td>
          <td><%= l voting.deadline, format: :short %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to new_voting_path, class: "btn btn-primary" do %>
    <i class="bi bi-plus" aria-hidden="true"></i>作成
  <% end %>
</div>