<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <%= @address %>さん

    <p>
      <%= link_to "Anonymous-vote", root_url %>で<%= @owner %>さんが作成した投票「<%= @title %>」の<%= @name_of_ballot %>が届きました.
    </p>

    <p>
      <% if @exp %>
        <%= @name_of_ballot %>は<%= link_to "こちら", @url %>です.
      <% else %>
        <%= link_to "こちら", @url %>のリンクからを取得してください.
      <% end %>
    </p>

    <p>
      投票の締切は<%= l @deadline, format: :datetime_long %>です.
    </p>

    <p>
      もし心当たりのない場合, お手数ですがこちらからご連絡ください.
    </p>
  </body>
</html>