<%= @address %>さん

<p>
  投票「<%= @title %>」の投票リンクを再発行しました. リンクの有効期限は<%= l @exp, format: :datetime_long %>です.
</p>

<p>
  投票は<%= link_to "こちら", @url %>から
</p>

<p>
  投票期間は<%= l @start, format: :datetime_long %>から<%= l @deadline, format: :datetime_long %>までです.
</p>

<p>
  もし心当たりのない場合, お手数ですが<%= link_to "こちら", @url_not_for_me %>からご連絡ください.
</p>