<%= @address %>さん

<p>
  Anonymous-vote上の投票「<%= @title %>」に変更がありました。
</p>

<ul>
  <% if @changes[:title] %>
    <li>投票タイトルが「<%= @changes[:title][0] %>」から「<%= @changes[:title][1] %>」に変更になりました。</li>
  <% end %>
  <% if @changes[:description] %>
    <li>説明が「<%= @changes[:description][0] %>」から「<%= @changes[:description][1] %>」に変更になりました。</li>
  <% end %>
  <% if @changes[:start] %>
    <li>投票開始時刻が<%= l @changes[:start][0], format: :datetime_long %>」から<%= l @changes[:start][1], format: :datetime_long %>に変更になりました。</li>
  <% end %>
  <% if @changes[:end] %>
    <li>投票終了時刻が<%= l @changes[:end][0], format: :datetime_long %>から<%= l @changes[:end][1], format: :datetime_long %>に変更になりました。</li>
  <% end %>
</ul>

<p>
  以前お送りした投票用リンクからご確認ください。
</p>